body{
      background-color: #cb997e;
    }
    .primarblue {
     background-color:#ddbea9;
     
    }
    .backgroundcolor{
      background-color: #6b705c; 
    }
    .btnsize{
      font: 1.4em sans-serif;
     
    }
    